
<h1>Listing credit cards</h1>

<table>
  <tr>
    <th>Cardholder</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @credit_cards.each do |credit_card| %>
  <tr>
    <td><%= credit_card.cardholder %></td>
    <td><%= link_to 'Show', credit_card %></td>
    <td><%= link_to 'Edit', edit_credit_card_path(credit_card) %></td>
    <td><%= link_to 'Destroy', credit_card, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Credit card', new_credit_card_path %>
<%= link_to 'Back to Home', root_path %>
